$prim-color: #2d3750;
$second-color: #2d3750;
$accent-color: #00bce4;
$menu-background: #1b212f;
$menu-color: #fff;
$menu-hover: #1b212f;
$mobile-submenu-background: #78829c;
$mobile-submenu-color: #fff;
$light-button-background: #ffffff1a;
$light-button-color: #ffffffb3;
$nav-container-max-width: 1392px;

//header
$store-backgroundcolor: #fff;
$store-item-color: #000;
$store-item-hover-background: #f2f3f4;
$store-footer-color: #90a0a6;

$desktop-logo: '/src/assets/unl/logo_small.svg';
$mobile-logo: '/src/assets/unl/unl.svg';

$prim-font:  "Manrope regular", sans-serif;
$medium-font: "Manrope semibold", sans-serif;

@media only screen and (max-width: 992px) {
 html .mobile-menu .header .nav-logo a {
  width: 28px;
 }
}