html {
  opacity: 1;

  #app {
    a.langSelection {
      cursor: pointer;
    }

    .footer-wrap {
      .social-tool {
        li {
          pk-icon{
            height: 24px;
          }
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
      .apps-tool{
        li{
          &:last-of-type{
            margin-left: 3px;
          }
        }
      }
    }
  }
}